<!-- feedback_table.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Table</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "admin" %}">Inquiries</a></li>
            <li><a href="{% url "doctor" %}">Add Doctor</a></li>
            <li><a href="{% url "admin-feedback" %}">Feedback</a></li>
            <li><a href="{% url "team" %}">Team</a></li>
        </ul>
    </nav>
    <h1>Feedback Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Gender</th>
                <th>Rate</th>
                <th>Comment</th>
                <th>Received</th>
                
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.title }}</td>
                <td>{{ feedback.doctor }}</td>
                <td>{{ feedback.date }}</td>
                <td>{{ feedback.gender }}</td>
                <td>{{ feedback.rate }}</td>
                <td>{{ feedback.comment }}</td>
                <td>{{ feedback.recieve }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
