{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- <title>Formicon-Flat Forms Pack</title> -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "icons/styles.css" %}">
		<link rel="stylesheet" href="{% static "css/bootstrap-custom.css" %}">
		<link rel="stylesheet" href="{% static "css/registration-form.css" %}">

		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
		
	</head>
	<body>
		<!-- Register Form -->
		<div class="form-wrapper"> <!-- Form-wrapper only for positioning -->
			<form action="{% url "api:register_doctor" %}" method="post" class="fcorn-register container" enctype="multipart/form-data">
				{% csrf_token %}
				<h1><p class="register-info"> Doctor form </p></h1>
				<div class="row">
					<label for="event_name" class="form-label">Name:</label> 
					<p class="col-md-6"><input type="text" name="name" placeholder="First Name" required></p>
					<label for="event_name" class="form-label">Last Name:</label> 
					<p class="col-md-6"><input type="text" name="last_name" placeholder="Last Name" required></p>
				</div>
				<label for="email" class="form-label">Email:</label> 
				<p><input type="email" name="email" placeholder="Email Address" required></p>
				<label for="contact_no" class="form-label">Contact No:</label> 
				<p><input type="phone" name="contact" placeholder="Phone No" required></p>
				<label for="qualification" class="form-label">Qualification:</label> 
				<p><input type="text" name="qualification" placeholder="Qualification" required></p>
				<div class="row">
					<div class="col-md-6">
						<label for="event_date" class="form-label">Date:</label>
						<input type="date" class="form-control" name="event_date" id="event_date"/>
					</div>
				</div>
				<div class="row">
					<p class="col-md-6 city-wrap">
						<label for="city" class="form-label">City:</label>
						<select name="city" id="city">
							<option value="none" selected disabled>City</option>
							<option value="Gandhinagar">Gandhinagar</option>
							<option value="Ahmedabad">Ahmedabad</option>
							<option value="Surat">Surat</option>
							<option value="Rajkot">Rajkot</option>
						</select>
					</p>
					<p class="col-md-6 country-wrap">
						<label for="country" class="form-label">Country:</label>
						<select name="country" id="country">
							<option value="none" selected disabled>Country</option>
							<option value="India">India</option>
							<option value="Canada">Canada</option>
							<option value="USA">USA</option>
							<option value="UK">UK</option>
						</select>
					</p>
					<p class="col-md-6 specialty-wrap">
						<label for="specialty" class="form-label">Specialty:</label>
						<select name="specialty" id="specialty">
							<option value="0">Specialty</option>
							{% for service in services %}
								<option value="{{ service.speciality_title }}">{{ service.speciality_title }}</option>
							{% endfor %}
						</select>
					</p>
					<p class="col-md-6 image-wrap">
						<label for="image" class="form-label">Choose Image:</label>
						<input type="file" name="image" accept="image/*">
					</p>
				</div>
				<p class="register-submit"><input type="submit" value="Register Now"></p>
			</form>
			



	</body>
</html>
